

.Title{
background-color: black;
color: #ffffff;
margin: 120px auto;
text-align: center;
}
.post{
    background-color: black;
color: white;
font-size: 25px;
margin: 90px;
text-align: center;
border: 5px;
border-color: yellow;
}


