
.Blogpost{
    background-color: black;
    }
.Title{
background-color: black;
color: #ffffff;
margin: 0in;
text-align: center;
}
.post{
    background-color: black;
color: white;
font-size: 25px;
margin: 90px;
text-align: center;
border-color: white;
border-width: 20px ;
border-style: solid;
font-style: ;
}


